.informations {
  display: flex;
  margin-bottom: 40px;
}
.informations .informations__article {
  margin-right: 50px;
}
.informations .informations__article .informations__article-more {
  color: #000;
  font-style: italic;
}
.informations .informations__article-one {
  flex: 2;
}
.informations .informations__article-two {
  flex: 3;
}
.informations .informations__article-image {
  margin: 30px 0 10px 0;
}
.informations .informations__position--flex {
  display: flex;
}
.informations .informations__position--flex .informations__position-item--gap {
  margin-right: 40px;
}
.informations .informations__position-item {
  margin: 0;
}
.informations .informations__position-item--bold {
  font-weight: bold;
}
.informations .informations__position-item--underline {
  text-decoration: underline;
}
.informations .founders .founders__title {
  background: #0172DC;
  color: #FFF;
  margin: 0;
  padding: 10px 15px;
  text-transform: uppercase;
}
.informations .founders .founders__box {
  border: 1px solid #CFCFCF;
  border-top: 0;
}
.informations .founders .founders__box .founders__content {
  margin: 0 20px 50px;
}
.informations .founders .founders__box .founders__content .founders__company {
  display: flex;
  justify-content: center;
}
.informations .founders .founders__box .founders__content .founders__company .founders__logo {
  margin: 30px 0;
}
.informations .founders .founders__box .founders__content .founders__information {
  padding-top: 15px;
  border-top: 1px solid #CFCFCF;
}