.offer {
  margin-bottom: 100px;
}
.offer .offer__title {
  font-size: 30px;
  margin-bottom: 30px;
}
.offer .offer__product-1 {
  min-height: 104px;
  background-image: url("../images/services/oferta1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.offer .offer__product-2 {
  min-height: 104px;
  background-image: url("../images/services/oferta2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.offer .offer__product-3 {
  min-height: 104px;
  background-image: url("../images/services/oferta3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.offer .offer__product-4 {
  min-height: 104px;
  background-image: url("../images/services/oferta4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.offer .offer__product-5 {
  min-height: 104px;
  background-image: url("../images/services/oferta5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.offer .offer__product-title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 30px;
}
.offer .offer__description {
  margin: 0;
}