.top {
  margin-top: 15px;
  position: relative;
}

.top .top__right {
  position: absolute;
  top: 0;
  right: 0;
}

.top .top__right .top__right-buttons {
  display: inline-block;
  margin-left: 50px;
}

.top .top__right .top__right-buttons .top__right-button {
  color: #FFF;
  background: #949494;
  text-transform: uppercase;
  padding: 5px;
  margin: 0;
}

.top .top__right .top__right-buttons .top__right-button:active {
  color: gray;
  background: #C5C5C5;
}
