body {
    background: #EFF2F7;
    .container,
    *[class^="col"] {
        padding: 0;
    }
    a {
        text-decoration: none;
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}