$Flex: flex;
$Center: center;

.informations {
    display: $Flex;
    margin-bottom: 40px;
    .informations__article {
        margin-right: 50px;
        .informations__article-more {
            color: #000;
            font-style: italic;
        }
    }
    .informations__article-one {
        flex: 2;
    }
    .informations__article-two {
        flex: 3;
    }
    .informations__article-image {
        margin: 30px 0 10px 0;
    }
    .informations__position--flex {
        display: $Flex;
        .informations__position-item--gap {
            margin-right: 40px;
        }
    }
    .informations__position-item {
        margin: 0;
    }
    .informations__position-item--bold {
        font-weight: bold;
    }
    .informations__position-item--underline {
        text-decoration: underline;
    }
    .founders {
        .founders__title {
            background: #0172DC;
            color: #FFF;
            margin: 0;
            padding: 10px 15px;
            text-transform: uppercase;
        }
        .founders__box {
            border: 1px solid #CFCFCF;
            border-top: 0;
            .founders__content {
                margin: 0 20px 50px;
                .founders__company {
                    display: flex;
                    justify-content: center;
                    .founders__logo {
                        margin: 30px 0;
                    }
                }
                .founders__information {
                    padding-top: 15px;
                    border-top: 1px solid #CFCFCF;
                }
            }
        }
    }
}