.offer {
    margin-bottom: 100px;
    .offer__title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    @for $i from 1 through 5 {
        .offer__product-#{$i} {
            min-height: 104px;
            background-image: url("../images/services/oferta#{$i}.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .offer__product-title {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        margin: 20px 0 30px;
    }
    .offer__description {
        margin: 0;
    }
}
