.offer {
    padding-bottom: 100px;
    .offer__flexbox {
        --gap: 3%;
        display: flex;
        padding-top: 30px;
        .offer__flexbox-item {
            padding-right: calc(var(--gap));
            @for $i from 1 through 5 {
                .offer__flexbox__image-#{$i} {
                    height: 115px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-image: url("../images/services/oferta#{$i}.jpg");
                }
            }
            .offer__flexbox__title {
                text-align: center;
                text-transform: uppercase;
                padding: 15px 0 20px 0;
                margin: 0;
            }
            .offer__flexbox__description {
                margin: 0;
            }
        }
        .offer__flexbox-item:last-child {
            padding-right: -var(--gap);
        }
    }
}